:root {
  --primary: #141414;
  --secondary: #1d1d1d;
  --accent: #ea907a;
  --accent-text: #dcdcdc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.theme {
  display: flex;
  justify-content: center;
  height: 100%;
}

.theme .ant-layout-header {
  background-color: var(--secondary);
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 128px;
  border-bottom: 1px solid var(--accent);
}

.theme .logo {
  color: var(--accent-text);
}

.theme .ant-layout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary);
  margin-top: 128px;
  overflow-y: scroll;
}

.theme .search {
  max-width: 700px;
  height: 40px;
  background-color: var(--accent);
  border-color: var(--accent);
  margin: 1rem;
  color: var(--primary);
}

.theme ::placeholder {
  color: var(--secondary);
}

.albums {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme .ant-card {
  background-color: var(--secondary);
  border-color: var(--secondary);
  text-align: center;
  color: white;
  width: 300px;
}

.cover {
  width: 300px;
  height: 300px;
}

.theme .ant-card-meta-title {
  color: var(--accent-text);
}

.theme .ant-card-meta-description {
  color: var(--accent-text);
}

.theme .ant-empty-description {
  color: var(--accent-text);
}

.theme .ant-typography {
  color: var(--accent-text);
}

.theme .anticon-apple {
  color: var(--accent-text);
  font-size: 128pt;
  margin-bottom: 1rem;
}

.theme .apple-container {
  display: flex;
  flex-direction: column;
}

.theme .ant-spin-dot-item {
  background-color: var(--accent);
}

.theme .ant-back-top-icon {
  padding-top: 10px;
}
